


body{
    width: 98%;
    border: 5px yellow solid ;
    
    
}

.container {
    background-color: aliceblue;
    width: 95%;
    margin: 0% auto;
    

}

/* flex-start (not space-between)  */
.edades {
    display: flex;
    flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
 

.container-title{
    width: 100%;
    margin: auto;
    background-color: yellow;
    text-align: center;
}

.edadMedia{
    width: 30%;
    margin: 9px 0;
    padding: 0% 2px 10px;
    background-color: yellow;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    
    
    

}

.em-title{
    color: brown;
    background-color: darkorange;
    margin: 0px 1px 5px;
   

}


/* Every div that had a content its better if doesnt have
a precise widh its better this way */

.sub-em{
    flex: 0 0 160px;
    box-sizing: border-box;
     border: 5px solid darkorange;
     margin: 2px 9px  13px;
}

.sub-em h2{
    background-color: darkorange;
     border: solid darkorange;
     color: aliceblue;
     margin: 0px auto;
    
}

.contents-em{
    
    margin: 0px  0px auto;
    display: flex; 
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;

}


footer{
    background-color: yellow;
}

/*
.contents-em p{
    border: 3px solid darkorange;

}

*/