/* FIRST thing imagine that if i can reuse the tags will help me to keep
my code more clean*/


body{
    width: 90%;
    margin: auto;
    border-left: 2px solid red;
    border-right: 2px solid red;
    font-family: "Caveat", cursive;  /* body paragraph font  that is from outside*/
    font-size: 15px;
}

.title {
    background-color: red;
    color: aliceblue;
    padding-bottom: 30px;   
    font-family: "Itim",cursive;
    font-size: 12px;
}

.siglo18, .siglo19 {
    width: 90%;
    margin: auto;
    background-color: lightcoral;
    padding: 0px 0px 10px;     
}

.siglo18-title, .siglo19-title{
    background-color: red;
    color: aliceblue;
    margin-bottom: 25px;
}

.fernan-c, .adolfo-b, .emilia-p, .vicente-b{
    width: 80%;
    margin: auto;
    background-color: aliceblue;   
}

.fernan, .adolfo, .emilia, .vicente {
    background-color: red;
    color: aliceblue;
    padding: 0% 5px;  
}

.content {
    display: flex; align-items: flex-start;
    gap: 50px;
    width: 86%;
    margin:14px;            
}


.img-f {
   
    height: 220px;
    width: 300px;
    padding-top: 20px;  
}


footer{
    color: aliceblue;
    width: 100%;
    margin:  5px;
    background-color: red;
}