

.title {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}

.head {
    text-align: center;
}




.principal {

width: 100%;
}


/* Were adding a space between the content and the item, this happend with padding
if we add two parameter it will do it in the height width and you can add more*/

.follow {
    background-color: #e46e74;
    padding: 15px 15px;

}


.reviews {
    background-color: lightgray;
    padding: 20px;    
  
   
}



.opiniones {
    font-size: 20px;
    font-weight: bold;

}


.footer {
    font-size: small;
    text-align: center;
    font-style: italic;
}