
 body{
     margin: 0;
     background-color: #f2f2f2;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 }

.container{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin: 60px auto;
    flex-wrap: wrap; /* the thing can drop to next row on small screens */
    /*box-shadow: 0 6px 18px rgba(0,0,0,0.12);  adding the shadow to the boxes */
    
}

.basic, .standard, .expanded{
    display: flex; 
    flex-direction: column;
    font-size: x-large;
    margin: 40px;
    width: 480px;
    
  
}


.first h1, .first h3 .price{
    text-align: center;
    color: darkblue;
    margin: 0 30px 0px;
    
}


.firts-standard h1, .firts-standard h3, .price-standard{
    text-align: center;
    color: white;
    margin: 0 30px 0px;
    
}

.first-expanded h1, h3, .price{
    text-align: center;
    color: darkblue;
    margin: 0 30px 0px;

}

.standard{
    background-color: rgb(34, 103, 146);
    border-radius: 10px;
}

.second-standard {
    text-align: center;
    padding: 90px;
     color: white;
     font-weight: 700;
}


.price-standard{
    font-size: xx-large;
    color: rgb(131, 203, 180);
    font-weight: 800;

}


.price{
    font-size: xx-large;
    color: rgb(29, 231, 164);
    font-weight: 800;
}


.second {
    text-align: center;
    padding: 90px;
     color: darkblue;
     font-weight: 700;
}

.buttom, .buttom-color{
    text-align: center;
}

.buttom-color{
    background-color: rgb(82, 202, 162);
    color: white;
    border-style: none;
    margin: 10px 0px;
    padding: 20px  60px;
    border-radius: 55px;
}

.buttom-simple{
    background-color: white;
    color: rgb(65, 143, 117);
    border: 3px solid aquamarine;
    margin: 10px 0px;
    padding: 20px  20px;
    border-radius: 45px;
    font-weight: 800;

}
