
/* STYLES of the index code */
* {
  
  box-sizing: border-box;
  margin: 1;
}


.logo {
    height: 200px;
    object-fit: contain;

}
.banner{
    height: 200px;
    width: 500px;
    border-radius: 20px;
}


.img-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 0 15px 30px;
}

.img-content figcaption{
    font-family: 'Italianno', cursive;
    font-size: 4em;

}


.nav-menu, .nav-menu-equipo, .nav-menu-eventos, .nav-menu-history, 
.nav-menu-voluntarios, .nav-menu-ubicacion, .nav-menu-enlace,
.nav-menu-galeria, .nav-menu-video{
    display: flex;
    justify-content: space-around;
    margin: 20px 10px;
    padding: 20px;
}
.nav-menu{
    background-color: green;
}
.nav-menu-history{
    background-color: rgba(116, 69, 69, 0.993);
}


.nav-menu a{
    color: white;
    text-decoration: none;
   display: flex;
    flex-wrap: wrap;
}
.nav-menu-history a{
    color: white;
    text-decoration: none;
   display: flex;
    flex-wrap: wrap;
}

.active {
    height:20px;
    padding:0  0px 6px;
    border-bottom: 3px solid white;
}

.refugio{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 0;

}

/* NEW*/
.img{
    max-width: 100%;
    height: auto;
    display: block;
}


.fig-img{
    flex: 2 1 500px;   /* main image takes more space NEW*/
    height: auto;                     /*  Width---> ANCHO*/

}

.img-r{
  /* flex-shrink: 0;  keeps image div from stretching */
  width: 100%;
    height: 400px;         /* fixed height so it never gets huge TO HERE THE CHANGE MADE THE IMAGE GO WIDTH */
    object-fit: cover;     /* crops nicely instead of stretching */
    border-radius: 15px;
}

.comunicacion h1, .comunicacion h3, .icon{
   margin: 0;
  padding: 0 10px 0px 0;
    
}

.sidebar{
    display: flex;
    flex-direction: column;
    margin: 0px;
    /* NEW ADD*/
    flex: 1 1 320px;   /* sidebar column, wraps below on small screens  I HAVE TO TOUCH IT*/
    gap: 15px;  
}

.history, .adopcion, .voluntariado{
    display: flex;
    justify-content: space-between;
    padding: 1px ;
    border-bottom: 1px solid lightgray;
    
}

.icon{
    display: flex;
    align-items: center;
    gap: 30px;
}

.history-text, .adopcion-text, .adopcion-text{
    margin: 0;
    
}

.equipoV{
    height: 150px;
    display: flex; align-items: center;
    justify-content: center;
}

.equipoVoluntario{
    height: 120px;
}

.negrita{
    font-weight: bolder;
}

.adopt{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 7%; 
}

.button{
    display: flex;
    justify-content: center;
    
}

.adoptar{
    margin: 120px  0 0 0;
    padding: 10px 60px;
}


.cifras{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.number{
    color: green;
}

.border-cifras{
    border-top: 4px solid green;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: center;
    width: 15%;
    margin: 10px 30px;
    padding: 0px 0px 0px 0px;
}

.title-cifras{
   color: rgb(57, 61, 48);
    margin: 0%;
}

.vide{
    color: rgb(57, 61, 48);
}

.text-bienvenida h1{
    color: rgba(116, 69, 69, 0.993);
    margin: 0%;
}


/* styles of the history code */

.firts-team{
height: 60vh;
width: 98vw;
 padding: 10px 0 30px;
}

.title-history h3{
    color: rgba(116, 69, 69, 0.993);
    margin: 0%;
    font-size: 2em;
}

.title-history p{
    margin: 0%;
    font-size: 3em;
     margin: 0px 0px 30px;
    
}

.text-history{
    border-left: 15px solid saddlebrown;
    font-size: 3em;
    padding: 20px;
   
}

.text-ligth{
    color: darkgrey;
    margin: 0%;

}

.text-strong{
    margin: 0%;
}

.fundacion, .adopciones{
    display: flex; 
    justify-content: flex-start; 
 
}

.instalaciones, .voluntadiado{
    display: flex; 
    justify-content: flex-end;

}

.dot-instalaciones{
    color:  saddlebrown;
    font-size: 6em;
    align-self: center;
    justify-content: center;
    width: 20%;

    
}

.text-instalaciones{
    width: 40%;
    margin: 0% 10px 1%;
    padding: 10px 20px;
    border: 2px solid gray;
    font-size: 2em;
    order: 1;    
}

.dot{
    color:  saddlebrown;
    font-size: 6em;
    align-self: center;
    justify-content: center;
    width: 15%;
}

.centerdot, .centerdot-instalaciones{
    display: flex;
    justify-content: center;
}


.text-fundacion{
    width: 40%;
    margin: 0% 10px 1%;
    padding: 10px 20px;
    border: 2px solid gray;
    font-size: 2em;
    
}

.text-instalaciones h2, .text-instalaciones h3, .text-instalaciones p{
    margin: 0%;
    
}

.text-instalaciones h2{
    margin: 0%;
    color:  saddlebrown;
    
}

.text-fundacion h2, .text-fundacion h3, .text-fundacion p{
    margin: 0%;

}

.text-fundacion h2{
    margin: 0%;
    color:  saddlebrown;
    
}


/* styles of the team code */

.nav-menu-equipo{
    background-color: rgb(146, 39, 39);
}

.nav-menu-equipo a{
    color: white;
    text-decoration: none;
   display: flex;
    flex-wrap: wrap;
}

.inicial-text h2{
    color: rgb(146, 39, 39);
    margin: 0%;
    padding: 30px 0px 0;
}

.inicial-text p{
    font-size: 2em;
    margin: 0%;
    padding: 0px 0px 2dvh;
}

.coordinacion{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.img-marta{
     width: 600px;
    height: 310px;         /* fixed height so it never gets huge TO HERE THE CHANGE MADE THE IMAGE GO WIDTH */
}

.marta{
    border: 1px solid lightgray;
    font-size: 35q;
        /*0q*/
}

.marta h4{
    color: rgb(146, 39, 39);
    margin: 0%;
}

.marta h1{
    margin: 0%;
}

.marta p{
    margin: 1px;
}

.coordinadora-marta{
    color: lightslategray;
    margin: 0%;
}

.equipo-veterinario{
    display: flex;
    flex-wrap: wrap;
}

.docs{
    height: 300px;
}

.doc-alvarez h2, .doc-alvarez p{
    margin: 0%;
    text-align: center;
    padding: 0px;
}

.doc-alvarez p{
    color: lightslategray;
}

.voluntariados{
    margin: 20px;
}

.lista-volun{
    font-size: xx-large;
}

.text-volun{
    font-size: x-large;
    border-left: 5px solid gray;
    padding: 0% 15px;
}

/* styles of the pets code */

 
.nav-menu-animales {
    display: flex;
    justify-content: space-around;
    margin: 20px 10px;
    padding: 20px;
    background-color:  rgb(184, 91, 25);
}
   
.nav-menu-animales a{
    color: white;
    text-decoration: none;
   display: flex;
    flex-wrap: wrap;
}

.option h3{
    color:  rgb(184, 91, 25);
    font-size: 2em;
    margin: 0%;

}

.option p{
    margin: 0%;
    padding: 0 0 20px;
    font-size: 3em;
}

.pets-options{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option-button{
    background-color: white;
    margin: 30px;
    padding: 10px 80px 10px;
    border: 2px solid  rgb(184, 91, 25);
    color:  rgb(184, 91, 25);
    font-weight: bolder;
}

.available{
    display: flex;
    flex-wrap: wrap;
}

.grey-pets {
    color: lightslategray;
    align-self: center;


}

.pets{
    width: 800px;
    height: 400px;
}

.luna h2, .luna p, .luna a{
    margin: 0%;
}
.luna{
        padding: 20px 0 0 0px;
}

.age{
    display: flex;
    justify-content: space-between;
}

/* styles of the EVENTS code */

.nav-menu-eventos {
    background-color: rgb(31, 23, 85);
}
   
.nav-menu-eventos a{
    color: white;
    text-decoration: none;
   display: flex;
    flex-wrap: wrap;
}


.adopc-event{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}


.evento-text{
    border: 1px solid lightgray;
        /*0q*/
}
.title-event{
      color: rgb(31, 23, 85);
      margin: 0%;
}

.evento-text h4{
    color: rgb(31, 23, 85);
    margin: 0%;
    
}

.evento-text h1{
    margin: 0%;
}

.evento-text p{
    margin: 1px;
}

.lugar-event{
    color: lightslategray;
    margin: 0%;
}


.datees{
    background-color: rgb(27, 23, 51);
    color: white;
    padding: 40px 80px;  
}

.datees p, .datees h1{
    margin: 0%;
   /* padding: 50px 90px 0 ;*/
 
}
.numbr{
    font-size: 3em;
}
.sep{
    font-size: 1.5em;
}


.evento-text{
    border: 1px solid lightgray;
    width: 90%;
    font-size: xx-large;
}
.date-eventss, .more-dates{
    margin: 10px;
    padding: 9px;
}


.moreDates{
    border: 1px solid lightgrey;
    padding: 1% 12%;

}

.moreDates h1, .moreDates p{
    margin: 0%;
}

.general-d{
    display: flex;
    justify-content: space-between;
}

/* VOLUNTARIADO  MENU*/

.nav-menu-voluntarios a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-menu-voluntarios{
    background-color: teal;
}

.volun-text{
    background-color: teal;
    color: white;
    padding: 30px 60px;  
}

.more-text{
    align-self: center;
    width: 90%;
    font-size: xx-large;
}

.testimonios{
    margin: 10px;
    padding: 9px;
    display: flex;
    gap: 30px;
}

.elena, .marcos{
    background-color: lightgray;
    border: 3px solid lightslategrey;
    padding: 30px;
    width: 50%;
    
}

.elena p{
    margin: 0;
    font-size: 2em;    
}

.marcos p{
        margin: 0;
    font-size: 2em; 

}

.autor-testi{
    color: lightslategray;
}

.apply-options{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.apply-button{
    background-color: white;
    margin: 40px;
    padding: 10px 80px 10px;
    border: 2px solid  teal;
    color: teal;
    font-weight: bolder;
    font-size: 2em;
}


/* HOW TO ARRIVE TO THE PLACE MENU*/

.nav-menu-ubicacion{
    background-color: rgb(25, 22, 39);
}

.nav-menu-ubicacion a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.content-ubi{
    display: flex;
    gap: 30px;

}

.text-ubi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 3px solid rgb(52, 41, 122);
}

.direc {
    margin: 0;
    font-size: 2em;
}
#direct2{
    padding: 0px 0px 30px;
}

.time {
  margin: 0;
      font-size: 2em;

}

.trasp{
    margin: 10px;
    padding: 20px;
}
.general-trasp{
    display: flex;
    justify-content: space-between;
}

.bus12{
    border: 2px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
}

.grey-color{
    color: lightslategrey;
    margin: 0%;
}
.linea{
    margin: 0%;
}

.bus-icon {
    font-size: 35px;
    color: #ffd21f; /* yellow outside */
}

.bus-icon i {
    text-shadow: 
        0 0 0 #ffd21f;
}

.fa-square-parking {
    color: green;
}

.schedule{
margin: 10px;
display: flex;

}

.table{
    flex-grow: 1;
    flex-basis: auto;
    font-size: 2em;
}


/* LINKS  MENU*/

.nav-menu-enlace{
    background-color: rgb(28, 28, 90);
}

.nav-menu-enlace a{
    color: white;
    text-decoration: none;
   display: flex;
    flex-wrap: wrap;
}

.nav-menu-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-menu-link a{
    color: white;
    text-decoration: none;
    flex-wrap: wrap;
}

.text-link p, .text-link h1{
    margin: 0%;
}

.text-link h1{
    color: rgb(28, 28, 90);
    
}
.text-link{
    margin: 1px;
    padding: 20px;
    font-size: 20q;
}

.oficial-info{
    margin: 10px;
}

.tableHead{
    background-color: lightgrey;
}

.linksInfo{
    display: flex;
    flex-grow: 2;
}

.linksInfo th, .linksInfo td{
    padding: 10px;
}

.links-foot{
    margin: 10% 0 0 0;
    padding: 20px;
    background-color: rgb(22, 18, 53);
    color: aliceblue;
}

.link-refu a{
    color: wheat;
}

.general-link{
    display: flex;
    justify-content: flex-start;
}

.map{
    flex-grow: 1;
}

/* GALLERY MENU*/
.nav-menu-galeria a{
    color: white;
    text-decoration: none;
   display: flex;
    flex-wrap: wrap;
}

.nav-menu-galeria{
    background-color: darkgoldenrod;
}

.text-galery{
    margin: 1px;
    padding: 20px;
    font-size: 20q;
}

.text-galery p, .text-galery h3{
    margin: 0%;
    font-size: 2em;
}

.text-galery h3{
    color:  darkgoldenrod;
}

.img-adop, .luna-adop{
    position: relative;
}

 .img-adop h3{
    background-color: white;
    color: rgb(71, 85, 85);
    position: absolute;
    bottom: 6%;
    font-size: 2em;
}

.img-adop p{
    background-color: white;
     color: rgb(71, 85, 85);
    position: absolute;
    bottom: 0%;
    font-size: 2em;
}

.feriadop{
    height: 700px;
    width: 100%;
    display: block;
}
.luna-img{
    height: 400px;
}

.more-galery{
    display: flex;
    justify-content: space-between;
}

.luna-adop h3{
    background-color: white;
     color:black;
    position: absolute;
    bottom: 5%;
    font-size: 20q;
}

.luna-adop p{
    background-color: white;
     color: black;
    position: absolute;
    bottom: 0%;
    font-size: 20q;
}

.add-pic h1{
    margin: 0%;
}

.text-sendpic{
    font-size: 2em;
    border-left: 5px solid gray;
    padding: 0px 20px;
}

.request{
    font-size: xx-large;
        margin: 0%;
}

.add-pic{
    margin: 5% 0% 0%;
}

.send-button{
    font-size: 2em;
     margin: 2% 0% 0%;
     padding: 10px 80px;
}

/* VIDEO MENU*/
.nav-menu-video a{
    color: white;
    text-decoration: none;
   display: flex;
    flex-wrap: wrap;
}

.nav-menu-video{
    background-color: rgb(101, 91, 168);
}

.text-video h1{
    margin: 0%;
}

.text-video h1{
    color: rgb(101, 91, 168);
    
}
.text-video{
    margin: 1px;
    padding: 20px;
    font-size: 15q;
}

.video-inicial{
    margin: 1%;
}

.video-inicial p{
    font-size: 2em;
}

.more-videos h1{
        margin: 1%;
}

.father{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.childs{
    border: 1px solid lightgray;
    margin: 10px;
}

.testi{
    display: flex;
    justify-content: space-between;
}

.grey-pets {
    color: lightslategray;
    align-self: center
}

.testi p{
    font-weight: bolder;
    font-style: italic;
    font-size: xx-large;
}