

.contaniner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
}

.e1{
    background-color: brown;
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 3%;
    color: white;
    padding: 49px;


}

.e2{
    background-color: lightgoldenrodyellow;
    border: 1px solid lightcoral;
    border-radius: 3%;
    padding: 29px;
}

