

.boxes{
        display: flex;
}
.generalContainer{
    text-align: center;
    font-size: 50q;

    width: 45%;
    padding: 20px;

    border: 1px solid lightgray;
}

.normal-text{
    text-align: left;
    margin: 0% 18%;
    padding: 70px 0px 0px;
}

.normal-text2{
    text-align: left;
    margin: 0% 18%;
}

.bold-text{
    margin: 4px;
    font-weight: bold;
}

.choosePlan{
    background-color: rgb(10, 81, 126);
    border-radius: 30px;
    color: white;
    margin: 9%;
    display: flex;
    justify-content: center;

}