#verdad {
    background-color: chartreuse;
    color: black;
    display: inline;
    font-family: cursive;

   
}




#parrafos {
    display: flex;
    align-content: center;
    

}



#parrafo {
    font-size: 24px;
    font-style: oblique;
    color: #18735f;
    display:inline;
    margin-top: auto;
    
    

}

#parrafo2 {
 background-color: #18735f;
 font-size:x-large;
 color: bisque;
}
