
header{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    position: sticky; top: 0%;
    border-radius: 20px;
    z-index: 1;
}

.nav-menu{
     position: sticky; top: 21%;
     z-index: 2;
}


.head img:first-child{
    height: 200px;
    position: relative;
}

.head p:first-of-type{
    display: flex;
    align-items: center;  
}
    
.nav-menu{
    display: flex;
    justify-content: space-around;
    background-color: rgb(64, 64, 92);
    color: white;
    padding: 20px;
}

.inicio .nav-menu div:first-of-type a{
    text-decoration: none;
    color: darkorange;
    font-weight: bold;
}

/* another way */
.nav-menu div:not(:first-of-type) a{
    text-decoration: none;
    color: white;
    font-weight: bold;
} 

/* another solutions the cleanest way */
/* .nav-menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
} */


.cieloSomiedo img:first-child{
    margin: 20px 0px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center top;
    display: block;

}


.cieloSomiedo{
    position: relative;
    width: 100%;
}

.cieloSomiedo p:nth-child(2) {
    position: absolute;
    left: 20px;
    bottom: 50px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.cieloSomiedo p:nth-child(2)::first-letter {
    /* styles just for the first letter */
    font-size: 3rem;
    color: darkgoldenrod;
}

.cieloSomiedo p:nth-child(3) {
    position: absolute;
    left: 20px;
    bottom: 45px;
    font-weight: bold;
    color: white;
}

.cieloSomiedo p:nth-child(4) {
    position: absolute;
    left: 20px;
    bottom: 15px;
    font-weight: bold;
    color: white;
}

.text-astro{
    font-size: 2em;
}


.participar{
    background-color: darkgoldenrod;
    padding: 20px;
    text-align: center;
    color: white;
}

.participar:hover{
    background-color: aqua;
    color: black;
    font-size: large;
}

.cifras, .cifras-datos{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.cifras > div,
.cifras-datos > div {
    flex: 1;
}

.cifras-datos{
    background-color: rgb(41, 41, 109);
    color: darkgoldenrod;
    font-weight: bold;   
}


.cifras div:nth-child(n+3){

      flex-basis: 2%;
      font-size: large;
     
}

.cifras div:first-child{

    font-size: 20px;
    flex-basis: 10px;
}

s
.gen-cifras{
    margin: 10% 0%;
}

.cifras{
    padding: 20px;
    background-color: rgb(17, 17, 44);
    color: darkgoldenrod;
    font-weight:bolder
}

.video{
    display: flex;
    height: 100%;
    width: 100%;
}

.gen-video{
    font-size: large;
}

.gen-video h1::after{
    content: "⯈";
    display: inline-block;
    margin-left: 2px;
    transition: transform 0.3s ease;
}

/* .gen-video:hover > h1::after {
    transform: rotate(180deg);
} */

.video div:first-child{
    flex-basis: 20%;
    background-color: darkgoldenrod;
    
}

.video iframe:first-child{
    flex-basis: auto;
    
}

/* CODE FOR "Quienes Somos" */

.who-we-are .nav-menu div:nth-child(2) a{
    text-decoration: none;
    color: darkorange;
    font-weight: bold;
}

/* another way */
.nav-menu div:not(:nth-child(2)) a{
    text-decoration: none;
    color: white;
    font-weight: bold;
} 

.img-monitores img:first-child{

    height: 200px;
    width: 400px;
    object-fit: cover;
    object-position: center bottom;
    display: block;
}

.img-monitores{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 20px 0;

}

.text-history{
    margin: 70px 0;
    
}

.text-history h2{
   color: darkblue;
    
}


.text-history p:first-of-type{
    font-size: 2em;
}

.back-color{
    background-color: rgb(235, 212, 183);
    padding: 20px ;
}

.back-color p:last-child::before{
    content: " ━";
    
}

.back-color p{
    margin: 0%;
    font-size: x-large;
    
}


.imgandText{
    display: flex;
}

.imgandText > div > img {
    /* styles */
        background-color: aqua;
        flex-basis: 20%;
        /* height: 300px; */
}

.imgandText > div:nth-child(2)  {
    /* styles */
    background-color: rgb(233, 220, 186);
        padding: 50px    ;
        font-size: 2em;
        flex-basis: 80%;
}


.imgandText > div:nth-child(2)  > p:first-child {
    /* styles */
        color: darkgoldenrod;
        font-weight: bold;       
}


.imgandText > div:nth-child(2)  > p:nth-child(3) {
    /* styles */
        color: darkblue;
        font-style: oblique;
        margin: 0%;
       
}
.imgandText > div:nth-child(2)  > p {
    /* styles */
        margin: 0%;

}

.grid-cards{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* here im changing the h1 of the all childs of the father */
.grid-cards > div:nth-child(1) h1,
.grid-cards > div:nth-child(2) h1,
.grid-cards > div:nth-child(4) h1,
.grid-cards > div:nth-child(5) h1 {
    color: darkgoldenrod;
}

/* here im changig the margin of the paragraph  */
.grid-cards > div:nth-child(1) p,
.grid-cards > div:nth-child(2) p,
.grid-cards > div:nth-child(4) p,
.grid-cards > div:nth-child(5) p {
    margin: 0%;
}

/* here im changing the color of the 2nd paragraph */
.grid-cards > div:nth-child(1) p:nth-child(3),
.grid-cards > div:nth-child(2) p:nth-child(3),
.grid-cards > div:nth-child(4) p:nth-child(3),
.grid-cards > div:nth-child(5) p:nth-child(3) {
    color: dimgray;
}

/* Here im changing the background color of the childs 1, 2, 4, 5 */
.grid-cards > div:nth-child(1),
.grid-cards > div:nth-child(2), 
.grid-cards > div:nth-child(4), 
.grid-cards > div:nth-child(5)  {
    background-color: rgb(233, 220, 186);
}

/* Here im changing the backgrounds of  the childs 3, 6 */
.grid-cards > div:nth-child(3),
.grid-cards > div:nth-child(6)  {
    background-color: darkorange
}

/* Here im changing the margin of  the childs 3, 6 */
.grid-cards > div:nth-child(3) p,
.grid-cards > div:nth-child(6) p {
    margin: 0%;
}


/* Here im changing the 2nd child of the paragraphs of the childs 3, 6 */
.grid-cards > div:nth-child(3) p:nth-child(3),
.grid-cards > div:nth-child(6) p:nth-child(3) {
    color: rgb(78, 72, 72);
}

.valuable-staff ul{
    list-style: none;
}

.valuable-staff li:nth-child(-n+3) {
    text-decoration: none;
}


.valuable-staff li:nth-child(-n+3)::before{
    content: "  🗹 ";
    color: black;
    text-decoration: none;
}

.valuable-staff li:nth-child(even) {
    background-color: rgb(150, 223, 198);
}

.valuable-staff li:nth-child(odd) {
    background-color: rgb(157, 178, 216);
}

.valuable-staff li:last-child {
    font-style: oblique;
    margin-top: 20px;
}

.valuable-staff li:last-child::before {
    content: "  🗹 ";
    color: rgb(33, 20, 220);
}

/* CODE FOR "CONTACTO" */

.contacto .nav-menu div:nth-child(3) a{
    text-decoration: none;
    color: darkorange;
    font-weight: bold;
}

.boxes-somiedo{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.boxes-somiedo div:first-child{
    background-color: aqua;
}

.boxes-somiedo div:last-child{
    padding: 20px;
    font-size: 2em;
}

.boxes-somiedo > div:last-child p:nth-child(2) {
    color: white;
}


.boxes-somiedo > div:last-child {
    background-color: rgb(17, 17, 44);
    color: brown;
}

.boxes-somiedo > div:last-child p:nth-child(4) {
    color: grey;
}