
header{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    position: sticky;
    border-radius: 20px;

    
}
.head img:first-child{
    height: 200px;
    position: relative;
}

.head p:first-of-type{
    display: flex;
    align-items: center;  
}
    
.nav-menu{
    display: flex;
    justify-content: space-around;
    background-color: rgb(64, 64, 92);
    color: white;
    padding: 20px;
}

.nav-menu div:first-child{
    color: darkorange;
    font-weight: bold;
}


.cieloSomiedo img:first-child{
    margin: 20px 0px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center top;
    display: block;

}


.cieloSomiedo{
    position: relative;
    width: 100%;
}

.cieloSomiedo p:nth-child(2) {
    position: absolute;
    left: 20px;
    bottom: 50px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.cieloSomiedo p:nth-child(2)::first-letter {
    /* styles just for the first letter */
    font-size: 3rem;
    color: darkgoldenrod;
}

.cieloSomiedo p:nth-child(3) {
    position: absolute;
    left: 20px;
    bottom: 45px;
    font-weight: bold;
    color: white;
}

.cieloSomiedo p:nth-child(4) {
    position: absolute;
    left: 20px;
    bottom: 15px;
    font-weight: bold;
    color: white;
}

.text-astro{
    font-size: 2em;
}


.participar{
    background-color: darkgoldenrod;
    padding: 20px;
    text-align: center;
    color: white;
}

.participar:hover{
    background-color: aqua;
    font-size: large;
}

.cifras, .cifras-datos{
    display: flex;
    justify-content: space-around;
}

.cifras-datos{
    background-color: rgb(16, 16, 70);
    color: darkgoldenrod;
    font-weight: bold;
}

.cifras{
    background-color: rgb(33, 33, 169);
    color: darkgoldenrod;
    font-weight:bolder
}