

.principal {
    width: 90%;
    border-style: solid;
    border-color: aliceblue;
    margin: auto;

}


body {
    background-color: #6F3B37 ;
    
}

.head {
    text-align: center;
    
    background-color: #6F3749;
}



.capitalismo h2{
    background-color: aliceblue;
}